// COLORS :
$gray-light-1: #f9f9f9;
$gray-dark-1: rgb(214, 214, 214);
$font-color-primary: #7e7e7e;
$green: #23c552;
$red: #f84f31;

// FONT SIZES
$font-size-default: 1.6rem;
$font-size-medium: 2rem;
$font-size-h2: 3.8rem;
