@import "../abstracts/variables.scss";
.signup-btn {
  align-self: start;
  font-size: $font-size-medium;
  margin-left: 3.5rem;
  letter-spacing: 1px;
  text-decoration: none;
  padding-bottom: 1px;
  border-bottom: 2px solid;

  &:link,
  &:visited {
    color: $font-color-primary;
  }

  &:active,
  &:hover {
    cursor: pointer;
    border-bottom: 2px solid transparent;
    filter: brightness(70%);
  }
}
